/** 
* styles.css
*
* These styles are the ones for the current's folder exercise
*/

/* This style is the one required by the assignment, 
while the others are just for formatting the table. */
table tr.delayed {
  background-color: red;
  color: antiquewhite;
  }

table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
  }
  
th, td {
border: 1px solid #ccc;
padding: 8px 12px;
text-align: left;
}

th {
background-color: #f4f4f4;
}

tr:nth-child(even) {
background-color: #f9f9f9;
}

tr:nth-child(odd) {
background-color: #ffffff;
}
  